<!--
  JA: Promote option is gone is user is already an admin
-->
<% group.users.each do |user| %>
 	<tr>
 		<td><%= user.fname %></td>
 		<td><%= user.lname %></td>
 		<td><%= user.email %></td>
 		<td><%= group.admins.include? user %></td>
 		<% if group.admins.include? current_user %><!-- IF current_user an ADMIN -->


     		<td><%= button_to 'Promote', promote_groups_path(user_id: user.id, id: group.id), method: :patch, class: "button" %></td>
        <td><%= button_to 'Demote', demote_groups_path(user_id: user.id, id: group.id), method: :patch, class: "button" %></td>

        <!-- Need to check size of group before remove, or if size of user goes to zero goes to zero, delete group -->
     		<td><%= button_to 'Remove', remove_groups_path(user_id: user.id, id: group.id), method: :patch, class: "button" %></td>

 		<% end %> <!-- end-IF if current_user an ADMIN -->
 	</tr>
<% end %> <!-- end of user loop -->
