<% group.users.each do |user| %>
 	<tr>
 		<td><%= user.fname %></td>
 		<td><%= user.lname %></td>
 		<td><%= user.email %></td>
 		<td><%= group.admins.include? user %></td>
 		<% if group.admins.include? current_user %>
 		<td><%= button_to 'Promote', group_path(group: group, :type => "addAdmin",user_id: user.id), method: :put, class: "button" %></td>
 		<td><%= button_to 'Demote', group_path(group: group, :type => "removeAdmin", user_id: user.id), method: :put, class: "button" %></td>
 		<td><%= button_to 'Remove', group_path(group: group, :type => "removeUser", user_id: user.id), method: :put, class: "button" %></td>
 		<% end %>
 	</tr>
<% end %>
