<h1><%= current_user.fname%>'s Groups</h1>

<table class = "table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name(link to calendar on name?)</th>
      <th>Number of Users</th>
      <th colspan="3">Group options</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td>Count of users in group goes here: groups/index.html.erb</td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button><%= link_to 'Create New Group', new_group_path %></button>
