
<!--
      JA: Only displaying groups user is currently in,
              opposed to every single group
      JA: Cleaned up code, and made it simpler
    -->
<div id = "groupsTable">
<h1><%= current_user.fname %>'s Groups</h1>

<table class = "table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Group ID: #</th>
      <th>Name</th>
      <th>Number of Users</th>
      <th colspan="3">Group options</th>
    </tr>
  </thead>

  <tbody>

    <% @user_groups.each do |group| %>
            <tr>
              <td><%= group.id %></td>
              <td><%= group.name %></td>
              <td><%= group.users.distinct.count %></td>
              <td><%= button_to "Show", group, method: "get", class: "button" %></td>
            </tr>
      <% end %>
  </tbody>
</table>

<br>
<%= button_to 'Create New Group', new_group_path, method: "get", class: "button" %>

</div>
