<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group Creator:</strong>
  <%= @group.admin.fname %>
</p>

<p>
  <strong>Group ID:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Number of Users:</strong>
  <%= @group.users.count %>
  <table class = "table table-striped">
  <thead class="thead-inverse">
  		<th>First Name</th>
  		<th>Last Name</th>
  		<th>Email</th>
  </thead>
  <tbody>
  		<% @group.users.each do |user| %>
  			<tr>
  				<td><%= user.fname %></td>
  				<td><%= user.lname %></td>
  				<td><%= user.email %></td>
  			</tr>
  		<% end %>
  </tbody>
  </table>
</p>

<button><%= link_to 'Edit', edit_group_path(@group) %></button>
<button><%= link_to 'Groups Home', groups_path %></button>
