<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group Creator:</strong>
  <%= @group.admins[0].fname + ' ' + @group.admins[0].lname %>
</p>

<p>
  <strong>Group ID:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Number of Users:</strong>
  <%= @group.users.count %>
</p>
<div>
	<%= render partial: 'user_Table', locals: {group: @group} %>
</div>

<button><%= link_to 'Edit', edit_group_path(@group) %></button>
<% if @group.admins.include? current_user %>
	<button><%= link_to 'Delete Group', group_path(@group), method: :delete, data: {confirm: 'Are you sure you want to delete this group? This cannot be undone'} %></button>
<% end %>
<button><%= link_to 'Groups Home', groups_path %></button>
