<%#
Author: KS
%>
<div class="container">
<h1>About Hang Time</h1>
<p>
	Hang Time is a web application for anyone from high school students
	to your every day soccer mom.  It is a resource which enables users to 
	collaborate to plan events based around the availability of all involved
	parties.<br><br>

	Hang Time was launched in April 2017 by Bits-Please, an up-and-coming coding group, who may have started in ashes, but like the phoenix, they will rise.  While still local to Ohio State, they seek to provide everyone with an easy interface for scheduling group events.
	</p>
<br>
<h3> Who is Bits-Please?</h3>
<p>
Bits-Please is comprised of 5 coders from Ohio State named Raphael Huang, Jenn Alarcon (commonly referred to as Aldragon), Sunny Patel, Kenton Steiner, and Tony Su.  While only having been together for a short time, the coders have found a way to weave their lines of code together in order to meet deadlines and produce the type of content they have become known for.  Where the group goes from here remains unknown, although it would seem that many late-nights and energy shots are in their future.
<br>
</p>
<br>
<h3> Hang Time </h3>
<p>
Hang Time is a web application running which runs on ruby on rails, while utilizing various other gems and frameworks.  These include:
</p>
<ul class="list-inline">
<li><strong>Bootstrap: </strong>A free open source collection of HTML, CSS, and Javascript files, which streamline front-end web development and provides an easy way to have consistent styling across your web page.  To learn more about Bootstrap, click this link:<i>
<%= link_to 'Learn more about Bootstrap', 'https://www.w3schools.com/bootstrap/' %></i></li>
<li><strong>Devise:</strong> A rails gem built in a MVC (Model View Controller) pattern on top of Warden, designed for providing authentication service to web applications.  It covers functionality from simple sign in and sign out, to encrypting data, to recovering your lost password. With the many functionalities devise offers through modules, you can customize your authentication service specifically to your needs.  To learn more about Devise, click this link:<i>
<%= link_to 'Learn more about Devise', 'https://github.com/plataformatec/devise' %></i>
</li>
<li><strong>jQuery:</strong> 
A simple Javascript library used to simplify event handling, HTML traversing, Ajax functionality, and animations for web pages.  It simplifies the scripting for HTML on the client-side immensely, through one line methods and much less syntax.  To learn more about jQuery, click this link:<i> 
<%= link_to 'Learn more about jQuery', 'https://www.w3schools.com/jquery/' %>
</i></li>
<li><strong>Ruby on Rails: </strong>
As previously mentioned, Hang Time mainly uses Ruby on Rails to power the web-application.<br> To learn more about Ruby on Rails, visit these sites: 
<ul>
<li> <%= link_to 'Ruby on Rails Overview', 'rubyonrails.org' %> </li>
<li> <%= link_to 'Learn Web Development with Ruby on Rails', 'www.railstutorial.org/book' %></li>
<li> <%= link_to 'Ruby on Rails Guides', 'http://guides.rubyonrails.org/getting_started.html' %></li>
</ul>
<br><br>
<h3> For more Information</h3>
<p>
For more information about how to use the website, please visit our Help Page by clicking this link:<%= link_to 'Help Page', help_path %> or by using the link in the bottom right of the page.
<p>
<p>
To contact us with further questions, please reference our contact page, either by clicking this link: <%= link_to "Contact Us", contact_path %> or by clicking the Contact link in the bottom right of the page.  <br>
<h2>Also follow us on Twitter @K_stein14</h2>
</p>
</div>