<!-- Author: KS 
// 4/20 - Added extra fields to the user table
  4/22 - Added Bootstrap form styling 
-->

<h1><u>Edit Your Profile</u></h1>

<%= bootstrap_form_for(resource, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.email_field :email, label: "Email Address*", control_col: "col-sm-4" %>
    <%= f.text_field :fname, label: "First Name*", control_col: "col-sm-3"%>

    <%= f.text_field :lname, label: "Last Name", control_col: "col-sm-3" %>

    <%= f.text_field :nickname, label: "Nickname", control_col: "col-sm-3" %>

    <%= f.text_area :bio, label: "Biography" %>

    <%= f.text_field :school, control_col: "col-sm-4" %>

    <%= f.form_group :grade, label: { text: "Year in School" } do %>
  <%= f.radio_button :grade, "Freshman", label: "Freshman", inline: true %>
  <%= f.radio_button :grade, "Sophomore", label: "Sophomore", inline: true %>
  <%= f.radio_button :grade, "Junior", label: "Junior", inline: true %>
  <%= f.radio_button :grade, "Senior", label: "Senior", inline: true %>
  <%= f.radio_button :grade, "Graduated", label: "Graduated", inline: true %>
  <%= f.radio_button :grade, "Other", label: "Other", inline: true %>
<% end %>

    <%= f.text_field :hometown, control_col: "col-sm-4" %>

    <%= f.text_field :job, control_col: "col-sm-4" %>

    <%= f.password_field :password, autocomplete: "off", help:"#{@minimum_password_length} characters minimum.  (Leave blank if you don't want to change)", control_col: "col-sm-4" %>
  

    <%= f.password_field :password_confirmation, autocomplete: "off", control_col: "col-sm-4" %>
 
    <%= f.password_field :current_password, autocomplete: "off", control_col: "col-sm-4" %>
    <%= f.file_field :avatar %>
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %><br>
    <div id="submit">
    <div>
    <%= f.submit "Update", label_col: "col-sm-5", class: "btn btn-success btn-lg" %>
    </div><br><br>

<% end %>
<small style="text-align:left;"><em>* Fields marked with a * must not be left blank</em></small>

<p><%= button_to "Delete Account", registration_path(resource_name), class: "center btn btn-danger", data: { confirm: "Are you sure you want to delete your account? This action cannot be undone." }, method: :delete %></p>
</div>
