<h1>Sign up</h1>

<%= bootstrap_form_for(resource, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", as: resource_name, html: { multipart: true }, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.email_field :email, label: "Email Address*", control_col: "col-sm-4" %>
    <%= f.password_field :password, autocomplete: "off", label: "Password*", help: "(#{@minimum_password_length} characters minimum)", control_col: "col-sm-4" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirm Password*", control_col: "col-sm-4" %>
    <%= f.text_field :fname, label: "First Name*", control_col: "col-sm-3" %>

    <%= f.text_field :lname, label: "Last Name", control_col: "col-sm-3" %>

    <%= f.text_field :nickname, label: "Nickname", control_col: "col-sm-3" %>

    <%= f.text_area :bio, label: "Biography" %>

    <%= f.text_field :school, control_col: "col-sm-4" %>

    <%= f.form_group :grade, label: { text: "Year in School" } do %>
  <%= f.radio_button :grade, "Freshman", label: "Freshman", inline: true %>
  <%= f.radio_button :grade, "Sophomore", label: "Sophomore", inline: true %>
  <%= f.radio_button :grade, "Junior", label: "Junior", inline: true %>
  <%= f.radio_button :grade, "Senior", label: "Senior", inline: true %>
  <%= f.radio_button :grade, "Graduated", label: "Graduated", inline: true %>
  <%= f.radio_button :grade, "Other", label: "Other", inline: true %>
<% end %>

    <%= f.text_field :hometown, control_col: "col-sm-4" %>

    <%= f.text_field :job, control_col: "col-sm-4" %>

  <%= f.file_field :avatar, label: "Profile Picture" %>
    <div id="submit">
    <%= f.submit "Sign up", class: "btn btn-success btn-lg" %>
    </div>
<% end %><br><br>
<small>
<em>*Fields denoted with a * indicate a required field</em></small>
