<div class='container'>
	<div class='jumbotron center'>
		<h1><%= user.fname + '\'s Profile' %></h1>
	</div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead"><%= user.fname + ' ' + user.lname %><hr></div>
          </div>
          <div class="row">
         <div class="col-md-4 text-center">
               <% if user.avatar? %>
              <%= image_tag user.avatar.url(:medium) %>
              <% else %>
               <span>No Image Uploaded</span>
               <% end %>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><i><%= user.nickname %></i></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <span class="text-muted">Email:</span> <%= user.email %><br>
                  <span class="text-muted">Hometown:</span><%= user.hometown %><br>
                  <span class="text-muted">Job:</span><%= user.job %><br>
                  <span class="text-muted">School:</span><%= user.school %><br>
                  <span class="text-muted">Major:</span><%= user.major %><br>
                  <span class="text-muted">Bio:</span>
                  <%= user.bio %><br><br>
                  <small class="text-muted">Created:<%= user.created_at %></small>
                 
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align:right;">
              <hr><span>
      <% if user.id == current_user.id %>
      <%= link_to "Edit Profile", edit_user_registration_path, :method => :patch, class: "button"%>
      <% end %>
      </span>
      <%= link_to 'Back', :back, class: "button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
