<div class='container'>
	<div class='jumbotron center'>
		<h2><%= user.fname + '\'s Profile' %></h2>
      <% if user.nickname? %>
         <i>"<%= user.nickname %>"</i>
      <% end %>
	</div>
   </div>
<div class='container'>
	<div>
		<div>
		<% if user.avatar? %>
      		<%= image_tag user.avatar.url(:medium) %>
   		<% end %>
   		<br><br>
   		
   		</div>
   		<div><strong>Name: </strong><%= user.fname + ' ' + user.lname %></div>
   		<% if user.bio? %>
   		<div><strong>About <%= user.fname %>:</strong><br><%= user.bio %></div>
   		<% end %>
   		<% if user.hometown? %>
   		<div><strong>Hometown: </strong><%= user.hometown %></div>
   		<% end %>
   		<% if user.school? %>
   		<div><strong>School: </strong><%= user.school %></div>
   		<% end %>
   		<% if user.major? %>
   		<div><strong>Major: </strong><%= user.major %></div>
   		<% end %>
   		<% if user.grade? %>
   		<div><strong>Grade: </strong><%= user.grade %></div>
   		<% end %>
   		<% if user.job? %>
   		<div><strong>Job: </strong><%= user.job %></div>
   		<% end %>
   	</div>
   	<div>
   	<%= link_to "Edit Profile", edit_user_registration_path, :method => :patch, class: "button"%>
   	</div>
</div>




