<%#
Author: JA
Changes:
  RH - Added the calendar, minor change the syntax
  SP - Created partials + added collapsible forms for addEvent and joinGroup
  JA - got rid of joinGroup
%>
<div class="personal">
  <h1>
    Welcome <%= "#{current_user.fname}!" %>
  </h1>

  <div class ="left">
    <h3> Events </h3>
    <%= render './partials/addEvent' %>
    <br>
    <%= render './partials/viewEvents' %>
    <h3> Groups </h3>
    <%= link_to "View Groups",  groups_path, class: "button" %>

    <br>
    <br>
    <%= render './partials/createGroup'%>

  </div>
  <div class="right">

   <%= render './partials/generateCalendar', object: @event %>

  </div>
</div>
  <br class = "bottomGroup"></br>
