<%#
Author: JA
Changes:
  RH - Added the calendar, minor change the syntax
  SP - Created partials + added collapsible forms for addEvent and joinGroup
  JA - got rid of joinGroup
%>
<div class="personal">
  <h1>
    Welcome
    <%= "#{current_user.fname}!" if user_signed_in? %>
  </h1>

  <div class ="left">
    <h3> Events </h3>
    <%= render './partials/addEvent' %>
    <br>
    <%= render './partials/viewEvents' %>
    <h3> Groups </h3>
    <button><%= link_to "View Groups",  groups_path %></button>

    <br>
    <br>
    <button><%= link_to "Create Group",  new_group_path %></button>

  </div>
  <div class="right">

   <%= render './partials/generateCalendar', object: @event %>

  </div>
</div>
  <br class = "bottomGroup"></br>
