<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- Home page should be user's personal calendar -->
          <li><%= link_to "Home",  '#' %></li>
          <li><%= link_to "Groups", '#' %></li>
          <li><%= link_to "Personal", '#' %></li>
          <li><%= link_to "Log out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "Help",   static_pages_help_path %></li>
      </ul>
    </nav>
  </div>
</header>
