
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <!-- Home is the home for signed_out users and a different
      home for signed_in users. -->
        <li><%= link_to "Home",  root_path %></li>
        <!-- IF USER IS SIGNED IN -->
        <% if user_signed_in? %>
        <!-- Downdown for Group -->
          <li class = "drowndown">
            <a class="dropdown-toggle" data-toggle="dropdown" >
            Groups <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Groups",  groups_path %></li>
              <li><%= link_to "Create Group",  new_group_path %></li>
              <li><%= link_to "Join New",  '#' %></li>
          </ul>
        </li>

        <li><%= link_to current_user.fname, '#' %></li>
        <li><%= link_to "Log out", destroy_user_session_path %></li>
        <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        



      </ul>
    </nav>
  </div>
  <script>
  $(document).ready(function(){
    $(".dropdown-toggle").dropdown();
  });
  </script>
</header>
