<%#
Changes:
  JA- added maxLength to event name
      changed selection time for start/end day
  SP- Time select now in 15 minute intervals 
%>
<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :maxlength => 23%>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time, {minute_step: 15} %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time, {minute_step: 15} %>
  </div>
  <div class="field">
    <%= f.label :start_day %><br>
    <% days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>

      <%= f.select :start_day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%>

  </div>
  <div class="field">
    <%= f.label :end_day %><br>
    <%= f.select :end_day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
