<%#
Authored by: RH
Changes:
  RH - Added function that the check the current user
%>
<p id="notice"><%= notice %></p>

<h1>List of Event</h1>
<h2><%= find_day %></h2>

<table class = "table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Start day</th>
      <th>End day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <% if check_user(event) %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_time.strftime("%H:%M").to_s %></td>
        <td><%= event.end_time.strftime("%H:%M").to_s %></td>
        <td><%= event.start_day.to_s.titleize %></td>
        <td><%= event.end_day.to_s.titleize %></td>

        <td>
          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<!-- <button> <%= link_to 'New Event', new_event_path %> </button> -->
<%= render './partials/addEvent' %>
<br>
<%= link_to 'Back', root_path %>
