<p id="notice"><%= notice %></p>

<h1>List of Events</h1>
<h2><%= find_day %></h2>

<table class = "table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th> Group Event </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <% if check_user(event) || check_group(event) %>
      <tr>
        <td>  <Strong><%= event.name %>  </Strong></td>
        <td>
          <Strong><%= event.starting_time.strftime("%a, %B %d ") %></Strong><br>
          <%= event.starting_time.strftime("%I:%M%p") %>
        </td>
        <td>
            <Strong><%= event.ending_time.strftime("%a, %B %d ") %></Strong><br>
          <%= event.ending_time.strftime("%I:%M%p") %>
        </td>

        <td>  <% if event.group_id >0 %>
          ✓  <%=Group.find_by_id(event.group_id).name%>
          <%end%></td>
        <td>

          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <% if check_group(event) %>
              <%group = Group.find_by_id event.group_id  %>
              <% if group.admins.include? current_user %>
               <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
               <%end%>
           <%else%>
           <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
           <%end%>
        </td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<!-- <button> <%= link_to 'New Event', new_event_path %> </button> -->
<%= render './partials/addEvent' %>
<br>
<%= link_to 'Back', root_path %>
