<p id="notice"><%= notice %></p>
<h1>Details of Events</h1>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.hour.to_s + ":" + @event.start_time.min.to_s  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.hour.to_s + ":" + @event.end_time.min.to_s %>
</p>

<p>
  <strong>Start day:</strong>
  <%= @event.start_day %>
</p>

<p>
  <strong>End day:</strong>
  <%= @event.end_day %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
