<p id="notice"><%= notice %></p>
<h1>Details of Events</h1>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.starting_time.strftime("%B %d %H:%M").  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.ending_time.strftime("%B %d %H:%M").to_s  %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Full Calendar', root_path %>
