<%#
Authored by: RH
Changes:
SP - Completely refactored code. Created this partial file.
RH - Minor change the syntax
JA - Changed/Modified current styling
RH - Added function that the check the current user
RH - Added group meetings to personal calendar
JA - Modified layout, and information, reconstrcted with partials
%>

<%# Header portion of calendar %>

<%= render "./partials/calendarHeader" %>
<%# Content of calendar. Iterates through all events  %>
<tbody>
  <% @events.each do |event| %>
  <%@found = false%>
  <% if check_user(event) || check_group(event) %>
  <tr>

    <%# iterate through all the weeds to see where the event falls %>
    <% %w(monday tuesday wednesday thursday friday saturday sunday).each do |weekday| %>
    <td>

  <!-- Start day  -->
      <% if event.start_day.to_s.downcase == weekday %>
      <%@found = true%>
      <% end %>
      
      <% if event.start_day.to_s.downcase != event.end_day.to_s.downcase %>
      <% if event.end_day.to_s.downcase == weekday %>
      <div class = "displayEvent">
      <%= event.name %><br>
      <%= event.start_time.strftime("%I:%M%p ").to_s %>
      -
      <%= event.end_time.strftime(" %I:%M%p").to_s %><br>
    </div>
      <%@found = false%>
      <% end %>
      <%if @found%>
      <div class = "displayEvent">
      <%= event.name %><br>
      <%= event.start_time.strftime("%I:%M%p ").to_s %>
      -
      <%= event.end_time.strftime(" %I:%M%p").to_s %><br>
    </div>
      <%end%>
      <% elsif @found%>
      <div class = "displayEvent">
      <%= event.name %><br>
      <%= event.start_time.strftime("%I:%M%p ").to_s %>
      -
      <%= event.end_time.strftime( "%I:%M%p").to_s %><br>
    </div>
      <%@found = false%>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
  <% end %>
</tbody>

<%= render "./partials/calendarFooter" %>
