<%#
Authored by: RH
%>

<%# Header portion of calendar %>
<%= render "./partials/calendarHeader" %>

<%# Content of calendar. Iterates through all events  %>
<tbody>
  <% @group.users.each do |user| %>
  <% user.events.each do |event| %>
  <tr>

    <!-- iterate through all the weeks to see where the event falls  -->
    <% %w(monday tuesday wednesday thursday friday saturday sunday).each do |weekday| %>
    <!-- Start day  -->
    <% if event.start_day.to_s.downcase == weekday %>

    <% if event.group_id != @group.id %>
    <td class="bg-2"> <%= user.fname+ " " %> BUSY</td>
    <% else %>
    <td><%= event.name %></td>
    <% end %>

    <!-- end day  -->
    <% elsif event.start_day.to_s.downcase != event.end_day.to_s.downcase %>
    <% if event.end_day.to_s.downcase == weekday %>

    <% if event.group_id != @group.id %>
    <td class="bg-2"> <%= user.fname %></td>
    <% else %>
    <td><%= event.name %></td>
    <% end %> <%# End the check the user.id %>

    <% else %>
    </td>
      <% end %> <%# End the check the end_day %>
      <% else %>
      <td>
        <% end %>  <%# End the check the whether end_day is equal start_day %>
      </td>

      <% end %> <%# End the loop week days %>
    </tr>
    <% end %> <%# End the loop events %>
    <% end %> <%# End the loop users %>

  </tbody>
  <%= render "./partials/calendarFooter" %>
