<%#
Authored by: JA
%>

<%= week_calendar do |date| %>

<% @group.users.each do |user| %>
    <% user.events.each do |event| %>


          <%#  iterate through all the weeks to see where the event falls  %>
            <% if date.strftime("%m/%d/%Y") == event.starting_time.strftime("%m/%d/%Y")%>

                  <%#  If it's only a user event %>
                    <div class = "event">
                    <div class = "displayEvent ">
                      <Strong><%= event.name+ " " %><br></Strong>
                      <%= event.starting_time.strftime("%I:%M%p ").to_s %>
                      -
                      <%= event.ending_time.strftime( "%I:%M%p").to_s %><br>
                      <%if event.group_id > 0%>
                      <div class = " bg-3">
                        GROUP EVENT
                      </div>
                      <%elsif event.user_id != current_user.id %>
                          <div class = "bg-2">
                            Event made by:
                            <br><%=User.find_by_id(event.user_id).fname%>
                          </div>


                      <%else%>
                          <div class = "bg">
                            YOUR EVENT
                          </div>
                      <%end%>
                    </div>
                  </div>

              <% end %>  <%# End the check the whether end_day is equal

          <% end %> <%# End the loop week days %>
<% end %>
    <% end %> <%# End the loop events %>
<% end %> <%# End the loop users %>
