<p id="notice"><%= notice %></p>

<h1>List of Meetings</h1>
<h2><%= find_day %></h2>

<table class = "table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Start day</th>
    <th>End day</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.name %></td>
        <td><%= schedule.start_time.strftime("%H:%M").to_s %></td>
        <td><%= schedule.end_time.strftime("%H:%M").to_s %></td>
        <td><%= schedule.start_day.to_s.titleize %></td>
        <td><%= schedule.end_day.to_s.titleize %></td>

        <td>
          <%= link_to 'Show', schedule %>
          <%= link_to 'Edit', edit_schedule_path(schedule) %>
          <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<!-- <button> <%= link_to 'New Meeting', new_schedule_path %> </button> -->
<%= render './partials/addMeeting' %>
<br>
<%= link_to 'Back', root_path %>
