<p id="notice"><%= notice %></p>
<h1>Details of Meetings</h1>

<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.start_time.strftime("%H:%M").to_s  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule.end_time.strftime("%H:%M").to_s  %>
</p>

<p>
  <strong>Start day:</strong>
  <%= @schedule.start_day.to_s.titleize %>
</p>

<p>
  <strong>End day:</strong>
  <%= @schedule.end_day.to_s.titleize %>
</p>

<%= link_to 'Edit', edit_event_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
