<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @comprise.group %>
</p>

<p>
  <strong>User:</strong>
  <%= @comprise.user %>
</p>

<%= link_to 'Edit', edit_comprise_path(@comprise) %> |
<%= link_to 'Back', comprises_path %>
