<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @administrate.group %>
</p>

<p>
  <strong>User:</strong>
  <%= @administrate.user %>
</p>

<%= link_to 'Edit', edit_administrate_path(@administrate) %> |
<%= link_to 'Back', administrates_path %>
